:root {
    --button-back: var(--button-background);
    --button-hover-back: var(--button-background-hover);
    --button-accent-hover-back: var(--background-modifier-selected);
    --button-hover-fore: var(--interactive-selected);
    
    --spacing: 5px;
    --margin-frame: 9px;
    
    --win-width: 36px;
    --win-height: 36px;
    --win-radius: 10px;
    --win-radius-1: var(--win-radius);
    --win-radius-2: 0;
    --win-distance: 1.2px;
    
    --toolbar-distance: var(--win-distance);
    
    --watermark: none;
}

.winButton-3UMjdg {
    margin: 0 var(--win-distance);
}
.wrapper-1_HaEi {
    margin-top: 8px;
}
.chat-1-OBC7 .chatContent-3KubbW {
    margin-bottom: 0;
}
.container-3XgAHv {
    border-radius: 0 0 8px 8px;
}
.chat-1-OBC7:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}
